<h4>Formularios <small> Template </small></h4>
<hr>
<form autocomplete="off" (ngSubmit)="guardar(f)" #f="ngForm">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               name="nombre"
               required
               minlength="5"
               placeholder="Nombre"
               #nombre="ngModel"
               [ngModel]="usuario.nombre"
               [class.is-invalid]="nombre.invalid && nombre.touched">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               name="apellido"
               minlength="5"
               required
               placeholder="Apellido"
               #apellido="ngModel"
               [ngModel]="usuario.apellido"
               [class.is-invalid]="apellido.invalid && apellido.touched">
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">

      <input class="form-control"
             type="email"
             name="email"
             required
             placeholder="Correo electrónico"
             email
             #email="ngModel"
             [ngModel]="usuario.email"
             [class.is-invalid]="email.invalid && email.touched">
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>
