<h4>Formularios <small> Reactivos </small></h4>
<hr>
<form autocomplete="off" [formGroup]="formGroup" (ngSubmit)="guardar()">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               formControlName="nombre"
               [class.is-invalid]="campoNoValido('nombre')">
        <small class="text-danger" *ngIf="campoNoValido('nombre')">Ingrese al menos 5 caracteres</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               formControlName="apellido"
               [class.is-invalid]="campoNoValido('apellido')">
        <small class="text-danger" *ngIf="campoNoValido('apellido')">Ingrese al menos 5 caracteres o un apellido distinto de Fernandez</small>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             formControlName="email"
             [class.is-invalid]="campoNoValido('email')">
      <small class="text-danger" *ngIf="campoNoValido('email')">Introduzca un correo válido</small>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Usuario</label>
    <div class="col">

      <input class="form-control"
             type="text"
             placeholder="Usuario"
             formControlName="usuario"
             [class.is-invalid]="usuarioNoValido">
      <small class="text-danger" *ngIf="usuarioNoValido">Usuario incorrecto o ya existe</small>
    </div>
  </div>

  <div class="form-group row" formGroupName="direccion">
    <label class="col-2 col-form-label">Dirección</label>
    <div class="form-row col">
      <div class="col">
        <input class="form-control"
               type="text"
               placeholder="Código postal"
               formControlName="codigoPostal"
               [class.is-invalid]="campoNoValido('direccion.codigoPostal')">
        <small class="text-danger" *ngIf="campoNoValido('direccion.codigoPostal')">Introduzca al menos 5 caracteres</small>
      </div>
      <div class="col">
        <input class="form-control"
               type="text"
               placeholder="Ciudad"
               formControlName="ciudad"
               [class.is-invalid]="campoNoValido('direccion.ciudad')">
        <small class="text-danger" *ngIf="campoNoValido('direccion.ciudad')">Introduzca al menos 5 caracteres</small>
      </div>
    </div>
  </div>

  <div class="form-group row" formGroupName="pasatiempos">
    <label class="col-2 col-form-label">Pasatiempos</label>
    <div class="form-row col">
      <table class="table">
        <thead class="thead-dark">
          <th>ID</th>
          <th>Nombre</th>
          <th>Borrar</th>
        </thead>
        <tbody *ngFor="let pasatiempo of pasatiempos.controls; let i = index">
          <tr>
            <td>{{i + 1}}</td>
            <td>
              <input
                class="form-control"
                type="text"
                [formControlName]="i">
            </td>
            <td>
              <button class="btn btn-danger"
                      type="button"
                      (click)="borrarPasatiempo(i)">
                      Borrar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary btn-block mt-3 mb-3" type="button" (click)="agregarPasatiempo()">+ Añadir</button>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Contraseña</label>
    <div class="form-row col">
      <div class="col">
        <input class="form-control"
               type="password"
               placeholder="Contraseña"
               formControlName="pass1"
               [class.is-invalid]="pass1NoValido">
      </div>
      <div class="col">
        <input class="form-control"
               type="password"
               placeholder="Repetir Contraseña"
               formControlName="pass2"
               [class.is-invalid]="pass2NoValido">
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label"></label>
    <div class="form-row col">
      <small class="text-danger" *ngIf="pass2NoValido">Las contraseñas no coinciden</small>
    </div>
  </div>

  <div class="form-group row">
    <div class="input-group col">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>

<br>
<hr>
<pre>
  Estado del form: <strong>{{formGroup.status}}</strong>
  Validez: <strong>{{formGroup.valid}}</strong>
  Valores: <strong>{{formGroup.value|json}}</strong>
</pre>
